@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .image {
            background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
        }
    </style>
</head>
<body class="image">

    <center><h1>Welcome</h1></center>
    <hr />

    <h2>Project Information</h2>

    <br />

    <h4>
        Projects main idea is to develop a web application for industries through which they can manage operations based on the orders they get for manufacturing there product. In every industry there is always waste of time and human resources because of irregular management system. Using this application it will be easy to communicate with dealers and sell products using a web based application.

        Administrator will mange application where he will daily update products list which are ready to be sold. Admin will update information of every available product in to database along with the quantity of the each product and as soon as the products are sold system will automatically update the database.

        Using this application production management will be easy. As soon as the dealers updates information of sales of this month based on this statistics system will provide graphical information to manufacturing team for next month manufacturing schedule. Based on the amount of product outcome requirements are calculated and updated on web and asks quotation from suppliers and accepts best quoted list requests for hardware.
    </h4>

</body>
</html>
